{% extends 'index.html' %}

{% block content %}
<a href="/" class="button">Назад</a>
<h2>Операции прихода</h2>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Описание</th>
            <th>Сваи</th>
            <th>Подтверждение</th>
        </tr>
    </thead>
    <tbody>
        {% for operation in operations %}
        <tr>
            <td>{{ operation.date }}</td>
            <td>{{ operation.description }}</td>
            <td>
                {% for pile_info in operation.piles_info %}
                <p>{{ pile_info.name }} {{ pile_info.size }}, Количество: {{ pile_info.quantity }}</p>
                {% endfor %}
            </td>
            <td>
                {% if not operation.confirm_b %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="operation_id" value="{{ operation.id }}">
                    <button type="submit">Подтвердить</button>
                </form>
                {% else %}
                Подтверждено
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="latest-operations">
    <h3>Последние операции прихода</h3>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Cваи</th>
                <th>Количество</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for arrival in latest_arrivals %}
                <tr>
                    <td rowspan="{{ arrival.piles_info|length }}">{{ arrival.date|date:"d.m.Y H:i" }}</td>
                    {% for pile_info in arrival.piles_info %}
                        {% if not forloop.first %}<tr>{% endif %}
                        <td>{{ pile_info.pile.name }} {{ pile_info.pile.size }}</td>
                        <td>{{ pile_info.quantity }}</td>
                        {% if forloop.first %}
                        <td rowspan="{{ arrival.piles_info|length }}">{{ arrival.description }}</td>
                        {% endif %}
                        {% if not forloop.last %}</tr>{% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
