{% extends "index.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('model').addEventListener('change', function() {
        var model = this.value;
        var numberSelect = document.getElementById('number_car');
        numberSelect.innerHTML = '<option value="">--- Select Number ---</option>'; // Очистка списка номеров

        // Проверка, что модель была выбрана
        if (model) {
            // Отправка AJAX запроса на сервер для получения номеров машин
            fetch(`/get-car-numbers/?model=${encodeURIComponent(model)}`)
                .then(response => response.json())
                .then(data => {
                    // Предполагается, что сервер возвращает объект JSON с массивом номеров в свойстве 'numbers'
                    data.numbers.forEach(function(number) {
                        var option = new Option(number, number);
                        numberSelect.add(option);
                    });
                })
                .catch(error => console.error('Error fetching car numbers:', error));
        }
    });
});
</script>
<style>
    body {
        font-family: Arial, sans-serif;
    }

    h2 {
        text-align: center;
        color: #333;
    }

    form {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #e30b0b;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button[type="submit"]:hover {
        background-color: #ad3939;
    }

    .form-group select {
        display: block;
        width: 100%;
    }
</style>
  <h2>Отгрузка свай</h2>
<a href="/" class="button">Назад</a>
<form method="post">
    {% csrf_token %}
    <!-- Поля для других атрибутов OperationDeparture -->
    <div>
        <label for="manager">Лид:</label>
        <input type="text" id="manager" name="manager">
    </div>
    <div>
        <label for="description">Описание:</label>
        <input type="text" id="description" name="description">
    </div>
    <!-- Выбор Car -->
    <div>
    <label for="model">Модель авто:</label>
    <select id="model" name="model">
    {% for value, display in car_type_choices %}
    <option value="{{ value }}">{{ display }}</option>
    {% endfor %}
</select>
</div>

<!-- Выбор Number, изначально пуст -->
<div>
    <label for="number_car">Номер авто:</label>
    <select id="number_car" name="number_car">
        <option value="">--- Select Number ---</option>
        <!-- Здесь будут добавлены номера динамически -->
    </select>
</div>
    <!-- Выбор BrigadeWork -->
    <div>
        <label for="brigade">Бригада:</label>
        <select id="brigade" name="brigade">
            <option value="">--- Select Brigade ---</option>
            {% for brigade in brigades %}
            <option value="{{ brigade.id }}">{{ brigade }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- Динамическое создание полей для Pile -->
    <h4>Сваи:</h4>
    {% for pile in piles %}
    <div>
        <span>{{ pile.name.name }} {{ pile.size }}</span>
        <input type="number" name="pile_{{ pile.id }}" min="0" value="0">
    </div>
    {% endfor %}
    <button type="submit">Сохранить</button>
</form>

{%endblock%}