{% extends "index.html" %}

{% block content %}
<h2>Возврат свай</h2>
<form method="post">
    {% csrf_token %}
    <a href='/'>Назад</a>
    <div>
        <label for="brigade">Бригада:</label>
        <input type="text" id="brigade" name="brigade" value="{{ user_brigade.brigade.name }}" readonly>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Текущий долг</h3>
    <table>
        <tr>
            <th>Название</th>
            <th>Размер</th>
            <th>Количество</th>
        </tr>
        {% for debt in debt_piles %}
        <tr>
            <td>{{ debt.name }}</td>
            <td>{{ debt.size }}</td>
            <td>{{ debt.quantity }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Возврат свай</h3>
    {% for pile in piles %}
    <div>
        <label for="pile_{{ pile.id }}">{{ pile.name.name }} {{ pile.size }}</label>
        <input type="number" id="pile_{{ pile.id }}" name="pile_{{ pile.id }}" min="0" value="0">
    </div>
    {% endfor %}
    <div>
        <label for="description">Описание:</label>
        <textarea id="description" name="description" rows="4" cols="50"></textarea>
    </div>
    <button type="submit">Сохранить</button>
</form>
{% endblock %}
