{% extends 'index.html' %}

{% block content %}
<h2>Процесс монтажа</h2>
<form method="post">
    {% csrf_token %}
    {% for pile in piles %}
    <div>
        <label for="quantity_{{pile.pile_id}}">{{ pile.name }} {{ pile.size }} (Осталось: {{ pile.quantity }})</_label>
        <input type="number" id="quantity_{{pile.pile_id}}" name="quantity_{{pile.pile_id}}" min="0" max="{{ pile.quantity }}" value="0">
    </div>
    {% endfor %}
    <button type="submit">Подтвердить</button>
</form>
<a href="{% url 'add_pile_to_count' count_entry.id %}">Добавить сваю из долга</a>
{% endblock %}
